.footer {
    background-color: $light-black;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: $standart-white;

    @media (min-width: $tablet-width) {
        font-size: 13px;
        line-height: 16px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

        @media (min-width: $tablet-width) {
            padding: 30px 0;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        @media (min-width: $tablet-width) {
            position: relative;
        }
    }

    &__contacts {
        @media (min-width: $tablet-width) {
            order: 3;
        }
    }
    &__payments {
        @media (min-width: $tablet-width) {
            order: 2;
        }
    }

    &__copyrights {
        @media (min-width: $tablet-width) {
            order: 1;
        }
    }
}

.copyrights {
    cursor: default;

    @media (min-width: $tablet-width) {
        justify-content: flex-start;
        padding-right: 25px;

        max-width: 200px;
    }

    @media (min-width: $desktop-width) {
        max-width: 340px;
        padding-right: 35px;
    }
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
        gap: 10px;
        border-right: none;
        padding-left: 25px;

        max-width: 200px;

        justify-content: flex-end;
    }

    @media (min-width: $desktop-width) {
        max-width: 340px;
        padding-left: 35px;

        justify-content: flex-end;
    }

    &__link {
        padding-left: 30px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;

            top: calc(50% - 10px);
            left: 0;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        @media (min-width: $tablet-width) {
            padding-left: 30px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;

                top: calc(50% - 10px);
                left: 0;

                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        &--vk {
            margin-left: 0;
            &::before {
                background-image: url(../img/icons/icon-contacts-vk.svg);
            }
        }
        &--mail {
            @media (min-width: $tablet-width) {
            }

            &::before {
                background-image: url(../img/icons/icon-contacts-mail.svg);
            }
        }
    }
}

.payments {
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;

    border-top: 1px solid $special-white;
    border-bottom: 1px solid $special-white;

    @media (min-width: $tablet-width) {
        margin: 0;
        padding: 0;

        width: 100%;

        border: none;
        border-left: 2px solid $special-white;
        border-right: 2px solid $special-white;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-content: center;
            // justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            row-gap: 10px;
            column-gap: 30px;

            width: 100%;
            padding: 0 25px;
        }

        @media (min-width: $desktop-width) {
            column-gap: 30px;
            justify-content: space-between;
            padding: 0 38px;
        }
    }

    &__item {
        display: block;
        // padding: 10px 10px 10px 50px;
        // padding-left: 50px;

        padding-left: 30px;
        white-space: nowrap;
        position: relative;

        cursor: default;

        // font-size: 18px;
        // line-height: 22px;

        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;

            top: calc(50% - 10px);
            left: 0;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        @media (min-width: $tablet-width) {
            padding-left: 30px;
            white-space: nowrap;
            position: relative;
            cursor: default;

            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;

                top: calc(50% - 10px);
                left: 0;

                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        &--qiwi {
            &::before {
                background-image: url(../img/icons/icon-payments-qiwi.svg);
            }
        }
        &--ym {
            &::before {
                background-image: url(../img/icons/icon-payments-ym.svg);
            }
        }
        &--wm {
            &::before {
                background-image: url(../img/icons/icon-payments-wm.svg);
            }
        }
    }
}
