.header {
    font-family: "Raleway", sans-serif;
    // padding: 0 15px;
    background-color: rgba(16, 16, 29, 0.9);
    position: fixed;
    top: 0;
    width: calc(100vw);

    z-index: 10;

    @media (min-width: $tablet-width) {
        padding: 0;
        width: calc(100vw);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;

        min-height: 50px;

        @media (min-width: $tablet-width) {
            min-height: 100px;
        }
    }
}

.navigation {
    position: relative;

    &__open {
        padding: 0;
        display: block;
        width: 30px;
        height: 24px;
        border-radius: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        // border: 1px solid red;

        &.active {
            & .navigation__burger {
                transition: $transition-basic;
                // opacity: 0;
                background-color: transparent;

                &::after {
                    transition: $transition-basic;
                    transform: rotate(-45deg);
                    top: 0;
                }

                &::before {
                    top: 0;
                    transition: $transition-basic;
                    transform: rotate(45deg);
                }
            }
        }

        @media (min-width: $tablet-width) {
            display: none;
        }
    }

    &__burger {
        display: block;
        height: 2px;
        width: 30px;

        position: relative;

        background-color: $standart-white;
        transition: $transition-basic;
        // opacity: 1;

        &::after,
        &::before {
            transition: $transition-basic;

            position: absolute;
            content: "";
            left: 0;
            top: -10px;

            height: 2px;
            width: 30px;
            background-color: $standart-white;
        }

        &::before {
            top: 10px;
        }
    }

    &__list {
        position: fixed;
        top: calc(50px);
        right: 0;
        width: calc(100vw);

        border-top: 1px solid $special-white;
        padding: 15px 0;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;

        background-color: rgba(16, 16, 29, 0.9);

        opacity: 0;
        pointer-events: none;
        transition: $transition-basic;

        &.active {
            opacity: 1;
            pointer-events: all;
            transition: $transition-basic;
        }

        @media (min-width: $tablet-width) {
            border: none;
            // padding: 0;
            background-color: transparent;
            gap: 10px;
            position: static;
            width: auto;
            max-width: 600px;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            opacity: 1;
            pointer-events: all;

            
        }

        @media (min-width: $desktop-width) {
            column-gap: 30px;
            row-gap: 10px;

            max-width: 800px;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        text-transform: uppercase;
        white-space: nowrap;
        text-align: right;
        padding: 4px 15px;
        transition: $transition-basic;

        width: 100%;

        &:hover {
            transition: $transition-basic;
            color: $light-blue;
            // opacity: 0.7;
        }

        &.current-page {
            transition: $transition-basic;
            color: $light-blue;
        }

        @media (min-width: $tablet-width) {
            width: auto;
        }
    }
}

.basic-button {
    width: auto;
    padding: 10px 15px;
    background-color: $standart-white;
    color: $standart-gray;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid $standart-gray;
    transition: $transition-basic;

    font-size: 14px;
    line-height: 18px;

    &:hover {
        transition: $transition-basic;
        opacity: 0.85;
    }

    &--blue {
        background-color: $standart-blue;
        color: $standart-white;
        border: 1px solid $standart-white;

        &:hover {
            transition: $transition-basic;
            opacity: 0.8;
        }
    }

    @media (min-width: $tablet-width) {
        padding: 15px 30px;

        font-size: 13px;
        line-height: 16px;
    }
}

.promotion {
    // margin-top: -55px;
    // height: 300px;
    width: 100vw;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../img/promo-bg.png);

    color: $standart-black;

    @media (min-width: $tablet-width) {
        height: 850px;
        background-size: cover;
    }

    &__wrapper {
        margin-bottom: 40px;
        margin-top: 80px;

        @media (min-width: $tablet-width) {
            margin-bottom: 202px;
            margin-top: 203px;
        }
    }

    &__title {
        // width: 780px;
        color: $standart-blue;
        // max-width: 200px;

        font-size: 24px;
        line-height: 30px;

        &-colored {
            color: $standart-black;
        }

        @media (min-width: $tablet-width) {
            font-size: 48px;
            line-height: 58px;
            max-width: 780px;
        }
    }

    &__sub-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;

        margin-top: 24px;

        @media (min-width: $tablet-width) {
            margin-top: 80px;
            font-family: "Lato";

            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
    }

    &__button-wrapper {
        margin-top: 40px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @media (min-width: $tablet-width) {
            width: 396px;
            gap: 30px;
            margin-top: 80px;
        }
    }

    &__button {
    }
}

.advantages {
    @media (min-width: $tablet-width) {
        width: 534px;
    }

    &__list {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        gap: 5px;

        @media (min-width: $tablet-width) {
            margin-top: 10px;
        }
    }

    &__item {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;

        padding-left: 26px;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: calc(10px);
            left: 10px;

            width: 5px;
            height: 1.5px;
            background-color: $standart-black;
        }

        @media (min-width: $tablet-width) {
            padding-left: 26px;
            font-size: 20px;
            line-height: 24px;

            &:before {
                top: calc(12px);
            }
        }
    }
}
