.main {
    min-width: 320px;
    background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $special-black;

    @media (min-width: $tablet-width) {
        width: 100vw;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title-wrapper {
        margin-top: 40px;
        @media (min-width: $tablet-width) {
            margin-top: 40px;
        }
        @media (min-width: $desktop-width) {
            margin-top: 120px;
        }
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 30px;
        font-style: normal;
        font-weight: 700;
        span {
            color: $standart-blue;
        }
        @media (min-width: $tablet-width) {
            font-size: 36px;
            line-height: 43px;
        }
    }
    &__desc {
        margin-top: 30px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $special-gray;
        text-align: center;
        @media (min-width: $tablet-width) {
            text-align: left;
            font-size: 18px;
            line-height: 22px;
        }
    }
}
.order-steps {
    margin-top: 30px;
    @media (min-width: $tablet-width) {
        margin-top: 84px;
        width: 100%;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media (min-width: $tablet-width) {
            flex-direction: row;
            justify-content: space-between;
            gap: normal;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                height: 6px;
                width: calc(100% - 140px);
                top: 28px;
                left: 70px;
                background-position: center;
                background-repeat: repeat-x;
                background-size: contain;
                background-image: url(../img/icons/icon-steps-dots-2.svg);
            }
        }
        @media (min-width: $desktop-width) {
            gap: 30px;
            &::before {
                top: 48px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        @media (min-width: $tablet-width) {
            width: 140px;
        }
        @media (min-width: $desktop-width) {
            width: 210px;
        }
    }
    &__icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: $standart-blue;
        border: 5px solid $special-blue;
        border-radius: 50%;
        @media (min-width: $tablet-width) {
            width: 60px;
            height: 60px;
            z-index: 5;
        }
        @media (min-width: $desktop-width) {
            width: 100px;
            height: 100px;
        }
    }
    &__item-icon {
        width: 55px;
        height: 55px;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
        }
        @media (min-width: $tablet-width) {
            width: 30px;
            height: 30px;
        }
        @media (min-width: $desktop-width) {
            width: 55px;
            height: 55px;
        }
    }
    &__item-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        padding: 0 5px;
        @media (min-width: $tablet-width) {
            font-size: 12px;
            line-height: 16px;
        }
        @media (min-width: $desktop-width) {
            margin-top: 20px;
            text-align: center;
            font-size: 16px;
            line-height: 19px;
        }
    }
}
.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        margin-top: 80px;
        margin-bottom: 150px;
    }
    &__label {
        position: relative;
        width: 100%;
        display: block;
        &.error {
            & .order-form__input {
                border-color: $error-red;
                color: $error-red;
            }
        }
        &--system {
            grid-column: 1/2;
            grid-row: 1/2;
            &.select-active {
                & .order-form__input--system {
                    background-color: rgba(61, 64, 80, 0.85);
                    border: 1px solid $light-black;
                    border-radius: 3px 3px 0 0;
                    color: $standart-white;
                    &::placeholder {
                        color: $standart-white;
                    }
                }
                & .order-form__select-wrapper {
                    transition: $transition-basic;
                    opacity: 1;
                    pointer-events: all;
                }
                & .order-form__input-icon {
                    transition: $transition-basic;
                    transform: rotate(-180deg);
                }
            }
        }
        &--email {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &--name {
            grid-column: 3/4;
            grid-row: 1/2;
        }
        &--file {
            grid-column: 3/4;
            grid-row: 2/3;
            position: relative;
            width: 100%;
            height: 48px;
            border: 2px solid $standart-blue;
            background-color: $standart-white;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.uploaded {
                justify-content: space-between;
                gap: 10px;
                padding: 0 10px;
                cursor: default;
                & .order-form__input-title {
                    display: none;
                }
                & .order-form__input-file-name {
                    display: block;
                }
                & .order-form__input-file-delete {
                    display: block;
                    opacity: 1;
                    pointer-events: all;
                    transition: $transition-basic;
                }
            }
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 12px 10px;
        border-radius: 3px;
        border: 1px solid $standart-white;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: $special-black;
        &:focus {
            border: 1px solid $light-blue;
        }
        &--file {
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: pointer;
            display: none;
            opacity: 0;
            padding: 0;
            @media (min-width: $tablet-width) {
            }
        }
        &-file-name {
            color: $special-black;
            display: none;
        }
        &-file-delete {
            display: block;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/icons/icon-button-delete.svg);
            opacity: 0;
            pointer-events: none;
            cursor: pointer;
            transition: $transition-basic;
            display: none;
        }
        &-title {
            display: inline;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
            color: $special-black;
            padding: 10px 10px 10px 28px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 18px;
                height: 20px;
                top: calc(50% - 10px);
                left: 0;
                background: no-repeat center center url(../img/icons/icon-file.svg);
            }
        }
        &--system {
            cursor: pointer;
        }
        &-icon {
            pointer-events: none;
            position: absolute;
            top: calc(50% - 10px);
            right: 10px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/icons/icon-arrow.svg);
            transition: $transition-basic;
        }
    }
    &__range-bar {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    &__submit {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        margin-top: 30px;
        @media (min-width: $tablet-width) {
            margin-top: 20px;
        }
    }
    &__select-wrapper {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 4px 3px 4px 10px;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        border: 1px solid $light-black;
        background-color: rgba(39, 39, 51);
        border-radius: 0 0 3px 3px;
        @media (min-width: $tablet-width) {
            border: 1px solid $light-black;
            border-radius: 0 0 3px 3px;
        }
    }
    &__select-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.system-select {
    max-height: 195px;
    overflow-y: auto;

    scrollbar-color: $standart-blue transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar-thumb {
        width: 7px;
        background: $standart-blue;
        border-radius: 4px;
    }
    &::-webkit-scrollbar {
        width: 7px;
        background: $light-black;
        border-radius: 4px;
    }
    @media (min-width: $tablet-width) {
        max-height: 160px;
    }
    &__label {
        cursor: pointer;
    }
    &__radio-input {
        visibility: hidden;
        display: none;
        &:checked + .system-select__desc {
            color: $range-blue;
        }
    }
    &__desc {
        padding: 10px 0;

        @media (min-width: $tablet-width) {
            padding: 6px 0;
        }
    }
}

.range-bar {
    &__desc-wrapper {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        @media (min-width: $tablet-width) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__value-desc {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }

    &__value-data {
        white-space: nowrap;
    }
    &__input {
        height: 37px;
        margin-top: 21px;
        width: calc(100%);
        opacity: 0.7;
        transition: opacity 200ms;
        outline: none;
        -webkit-appearance: none;
        background-color: rgba(255, 255, 255, 0.7);
        height: 8px;
        border: 1px solid $standart-white;
        border-radius: 3px;
        &:hover {
            opacity: 1;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;

            width: 25px;
            height: 25px;
            background: $range-blue;
            border: 3px solid $special-blue;
            border-radius: 50%;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: $range-blue;
            border: 3px solid $special-blue;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
