header.header
    .header__wrapper.container
        img.header__logo(src="./img/header-logo.svg", alt="Логотип компании" width='247' height='35') 
        nav.header__nav.navigation
            button.navigation__open
                span.navigation__burger
            ul.navigation__list 
                li.navigation__item
                    a(href="#").navigation__link Бизнес 
                li.navigation__item
                    a(href="#").navigation__link О нас 
                li.navigation__item
                    a(href="#").navigation__link Цены 
                li.navigation__item
                    a(href="#").navigation__link Оформить заказ
section.promotion 
    .promotion__wrapper.container
        h2.promotion__title Lorem ipsum  #[span.promotion__title-colored dolor sit ametconsectetur] adipiscing

        .promotion__advantages-wrapper.advantages
            p.promotion__sub-title At vero eos et accusamus et iusto odio dignissimos ducimus!
                ul.advantages__list
                    li.advantages__item Totam rem aperiam eaque ipsa
                    li.advantages__item Sit voluptatem accusantium doloremque laudantium
                    li.advantages__item Sed ut perspiciatis, unde omnis iste natus error
            .promotion__button-wrapper
                button.promotion__button.promotion__button--order заказать
                button.promotion__button.promotion__button--more подробнее